<div class="card mb-3 portfolio__card shadow-lg portfolio__animate-slide-up">
  <div class="flex flex-wrap gap-0">
    <div class="w-full md:w-1/3">
      <img src="{{ site.baseurl }}/{{ include.page.image }}" class="max-w-full h-auto portfolio__project-image" alt="{{ include.page.title }}">
    </div>
    <div class="w-full md:w-2/3">
      <div class="card-body p-6">
        <h5 class="card-title text-xl font-semibold">{{ include.page.title }} <small class="portfolio__text--muted block md:inline md:float-right">{{ include.page.date }}</small></h5>
        <p class="card-text">{{ include.page.summary }}</p>
        <p class="mb-3">
          {% for label in include.page.labels %}
          <span class="badge rounded-full portfolio__badge">{{ label }}</span>
          {% endfor %}
        </p>
        {% if include.page.projecturl %}
        <a href="{{ include.page.projecturl }}" class="btn btn-primary portfolio__button">Project Site</a>
        {% else %}
        <a href="{{ site.baseurl}}{{ include.page.url }}" class="btn btn-primary portfolio__button">Read More</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
