<div class="w-full md:w-1/2 lg:w-1/3">
  <div class="card h-full portfolio__card portfolio__essay-card">
    <div class="card-body p-6">
      <h5 class="card-title text-xl font-semibold">{{ include.page.title }}</h5>
      <p class="card-text text-sm portfolio__text--muted mb-2">{{ include.page.date | date_to_string }}</p>
      <p class="card-text">{{ include.page.content | markdownify | strip_html | truncatewords: 40 }}</p>
      <p class="mb-3">
        {% for label in include.page.labels %}
        <span class="badge rounded-full portfolio__badge">{{ label }}</span>
        {% endfor %}
      </p>
    </div>
      <div class="text-center mb-4"><a href="{% if include.page.medium_url %}{{ include.page.medium_url }}{% elsif include.page.essayurl %}{{ include.page.essayurl }}{% else %}{{ site.baseurl}}{{ include.page.url }}{% endif %}" class="btn portfolio__button">Read More</a></div>
  </div>
</div>
