---
layout: default
---

{% include header.html %}

<main id="content">
<div class="py-3 md:py-4 lg:py-5">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-5xl md:text-6xl">Page Not Found</h1>
    <p>Perhaps you were looking for one of the following:</p>

    <h3>Blog Posts</h3>
    <ul>
      {% assign post_pages = site.pages | where: "type", "post" | sort: "date" | reverse %}
      {% for page in post_pages %}
      <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>

    <h3>Projects</h3>
    <ul>
      {% assign project_pages = site.pages | where: "type", "project" | sort: "title" %}
      {% for page in project_pages %}
      <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
</main>

{% include footer.html %}